/*  */
/* 共通 css */
/*  */
:root {
    --main-color: #FF2A2A;
    --bg-color: #E8E8E8;
    --font-color: ;
}
* {
    box-sizing: border-box;
    color: var(--font-color);
}
body {
    font-family: "游ゴシック";
    margin: unset;
    container-type: inline-size;
}
img {
    display: block;
    width: 100px;/* 後で消す */
}
li {
    list-style-type: none;
}
h1, h2, h3, h4, h5, p, ul, ol, dl, dd, menu {
    margin: unset;
    padding: unset;
}
h1 {
    font-weight: bold;
    font-size: 28px;
    line-height: 1.67;
    letter-spacing: 0.1em;
    color: var(--font-color);
}
h2 {
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 0.1em;
    color: var(--font-color);
}
h3 {
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.1em;
    color: var(--font-color);
}
h4 {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: var(--font-color);
}
h5 {
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.1em;
    color: var(--font-color);
}
p {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.1em;
    color: var(--font-color);
}
a, a:visited {
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.1em;
    color: var(--font-color);
    text-decoration: none;
}
p.copy {
    font-weight: normal;
    font-size: 10px;
    color: var(--font-color);
}
div.container {
    max-width: 860px;
    margin: 0 auto;
}
a.button {
    color: #FFFFFF;
}



/*  */
/* 狭い画面向けの既定の CSS レイアウト値 */
/*  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    width: 100px;
    margin-left: 25px;
}
header div.hamburger {
    width: 75px;
    height: 75px;
    background-color: var(--main-color);
    position: relative;
}
header div.hamburger label {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
header div.hamburger input {
    display: none;
}
header div.hamburger span {
    width: 35px;
    height: 2px;
    background-color: #FFFFFF;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease;
    z-index: 1;
}
header div.hamburger span:first-of-type {
    top: calc(50% - 11px);
}
header div.hamburger span:nth-of-type(2) {
    top: 50%;
}
header div.hamburger span:last-of-type {
    top: calc(50% + 11px);
}
header div.hamburger_menu {
    display: none;
    display: block;
    background-color: var(--main-color);
    width: 100cqw;
    height: 100vh;
    position: fixed;
    left: 0;
}
header div.hamburger_menu menu {
    display: grid;
    justify-items: center;
    row-gap: 20px;
    margin-top: 28px;
    margin-bottom: 40px;
}
header div.hamburger_menu menu li {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
/* クリックしたとき */
header div.hamburger input:checked + span {
    transition: all 0.3s ease;
    top: 0;
    left: 0;
    width: 45px;
    transform: rotate(-45deg) translate3d(-16px, 37px, 0px);
}
header div.hamburger input:checked + span + span {
    transition: all 0.3s ease;
    top: 0;
    left: 0;
    width: 45px;
    transform: rotate(45deg) translate3d(37px, 16px, 0px);
}
header div.hamburger input:checked + span + span  + span {
    transition: all 0.3s ease;
    top: 0;
    left: 0;
    width: 45px;
    transform: rotate(45deg) translate3d(37px, 16px, 0px);
}
header div.hamburger input:checked + span + span  + span + div.hamburger_menu {
    display: block;
}



/*  */
/* 広い画面向けの CSS */
/*  */
@media (min-width: 900px) {
h1 {
    font-size: 46px;
    line-height: 1.6;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
a, a:visited {
    font-size: 14px;
}
}
