/*  */
/* 共通 css */
/*  */
:root {
    --main-color: #FF2A2A;
    --bg-color: #E8E8E8;
    --font-color: ;
}
* {
    box-sizing: border-box;
    color: var(--font-color);
}
body {
    font-family: "游ゴシック", "Helvetica Neue", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    margin: unset;
    container-type: inline-size;
}
img {
    display: block;
}
li {
    list-style-type: none;
}
h1, h2, h3, h4, h5, p, ul, ol, dl, dd, menu {
    margin: unset;
    padding: unset;
}
h1 {
    font-weight: bold;
    font-size: 28px;
    line-height: 1.67;
    letter-spacing: 0.1em;
    color: var(--font-color);
}
h2 {
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 0.1em;
    color: var(--font-color);
    text-align: center;
}
h3 {
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.1em;
    color: var(--font-color);
}
h4 {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: var(--font-color);
}
h5 {
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.1em;
    color: var(--font-color);
}
p {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.1em;
    color: var(--font-color);
}
a, a:visited {
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.1em;
    color: var(--font-color);
    text-decoration: none;
}
p.copy {
    font-weight: normal;
    font-size: 10px;
    color: var(--font-color);
    text-align: center;
}
div.container {
    max-width: 860px;
    margin: 0 auto;
    padding: 0 16px;
}
a.button {
    color: #FFFFFF;
}
.grid {
    display: grid;
}



/*  */
/* 狭い画面向けの既定の CSS レイアウト値 */
/*  */
h2 {
    padding-bottom: 40px;
}
h2::after {
    content: "";
    display: block;
    background-color: black;
    width: 80px;
    height: 3px;
    margin: 0 auto;
    margin-top: 20px;
}
header {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    width: 100px;
    margin-left: 25px;
}
header div.hamburger {
    width: 75px;
    height: 75px;
    background-color: var(--main-color);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}
header div.hamburger:hover {
    background-color: rgb(255 42 42 / 70%);
    transition: all 250ms ease;
}
header div.hamburger label {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
}
header div.hamburger input {
    display: none;
}
header div.hamburger span {
    width: 35px;
    height: 2px;
    background-color: #FFFFFF;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease;
    z-index: 1;
}
header div.hamburger span:first-of-type {
    top: calc(50% - 11px);
}
header div.hamburger span:nth-of-type(2) {
    top: 50%;
}
header div.hamburger span:last-of-type {
    top: calc(50% + 11px);
}
header div.hamburger_menu {
    display: none;
    background-color: var(--main-color);
    width: 100cqw;
    height: 100vh;
    position: fixed;
    left: 0;
}
header div.hamburger_menu div {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center
}
header div.hamburger_menu menu {
    display: grid;
    justify-items: center;
    row-gap: 20px;
    margin-top: 28px;
    margin-bottom: 40px;
}
header div.hamburger_menu menu li {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
header div.hamburger_menu a.button {
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #FFFFFF;
    padding: 15px 46.5px;
    position: relative;
}
header div.hamburger_menu a.button::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    right: -6px;
    bottom: -6px;
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
/* クリックしたとき ここから */
header div.hamburger input:checked + span {
    transition: all 0.3s ease;
    top: 0;
    left: 0;
    width: 45px;
    transform: rotate(-45deg) translate3d(-16px, 37px, 0px);
}
header div.hamburger input:checked + span + span {
    transition: all 0.3s ease;
    top: 0;
    left: 0;
    width: 45px;
    transform: rotate(45deg) translate3d(37px, 16px, 0px);
}
header div.hamburger input:checked + span + span  + span {
    transition: all 0.3s ease;
    top: 0;
    left: 0;
    width: 45px;
    transform: rotate(45deg) translate3d(37px, 16px, 0px);
}
header div.hamburger input:checked + span + span  + span + div.hamburger_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* クリックしたとき ここまで */

main div#Mainvisual .fade {
    position: relative;
    height: 375px;
}
main div#Mainvisual .fade .img {
    width: 100%;
    height: 375px;
    background-position: center;
    background-size: cover;
    box-shadow: inset #FFFFFF 0px 0px 20px 20px;
    opacity: 0;
    animation: fade 15s infinite;
    position: absolute;
}
main div#Mainvisual .fade .img:nth-of-type(1) {
    background-image: url("https://lh3.googleusercontent.com/d/1KLVyW9D2LgeHoSyIpDbkNmshxS9e1AgL");
    animation-delay: 0s;
}
main div#Mainvisual .fade .img:nth-of-type(2) {
    background-image: url("https://lh3.googleusercontent.com/d/1OuNMQmQmpn4px0NjX_0AOqTo2Py1Ka7T");
    animation-delay: 5s;
}
main div#Mainvisual .fade .img:nth-of-type(3) {
    background-image: url("https://lh3.googleusercontent.com/d/13C4-imlFcRsNkuGb_kdCyFW5gXHfjwdd");
    animation-delay: 10s;
}
/* スライドアニメーション ここから */
@keyframes fade {
    0% {opacity: 0;}
    30% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 0;}
}
/* スライドアニメーション ここまで */

main div#Mainvisual .CTA_top {
    padding: 0 16px;
}
main div#Mainvisual .CTA_top h1 {
    padding: 10px 0;
}
main div#Mainvisual .CTA_top a.button:hover {
    opacity: 0.9;
    transform: scale(1.05);
    transition: all 250ms ease;
}
main div#Mainvisual .CTA_top a.button {
    background-color: var(--main-color);
    font-size: 24px;
    padding: 15px 0;
    border-radius: 10px;
    box-shadow: #7A051C 0px 5px;
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
}
main div#Mainvisual .CTA_top a.button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(100% - 45px);
    width: 16px;
    height: 3px;
    background-color: #FFF;
    transform-origin: right;
    transform: rotate(45deg) translateY(1px);
}
main div#Mainvisual .CTA_top a.button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(100% - 45px);
    width: 16px;
    height: 3px;
    background-color: #FFF;
    transform-origin: right;
    transform: rotate(-45deg) translateY(-1px);
}
main div#Reason {
    padding-top: 80px;
}
main div#Reason h3 {
    color: var(--main-color);
}
main div#Reason p {
    font-size: 18px;
}
main div#Reason .slide {
    background-color: var(--main-color);
    padding: 40px 0;
    display: grid;
    row-gap: 40px;
}
main div#Reason .slide .js_slideIn {
    background-color: #FFFFFF;
    padding: 19px 20px;
    display: flex;
    align-items: center;
    opacity: 0;
}
main div#Reason .slide .js_slideIn img {
    margin-right: 30px;
}
main div#Reason .slide .is_inview:first-of-type {
    margin-right: 16px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    animation: 500ms ease-in forwards slidein_left_to_right;
}
main div#Reason .slide .js_slideIn:first-of-type img {
    width: 87px;
    height: 60px;
}
main div#Reason .slide .is_inview:last-of-type {
    margin-left: 16px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    animation: 500ms ease-in forwards slidein_right_to_left;
}
main div#Reason .slide .js_slideIn:last-of-type img {
    width: 51px;
    height: 60px;
}
/* スライドアニメーション ここから */
@keyframes slidein_left_to_right {
  from {
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slidein_right_to_left {
  from {
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* スライドアニメーション ここまで */

main div#Feedback {
    padding-top: 80px;
    padding-bottom: 80px;
}
main div#Feedback .grid {
    row-gap: 40px;
}
main div#Feedback .is_inview {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    animation: 500ms linear fadein;
}
/* ふきだしアニメーション ここから */
@keyframes fadein {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
/* ふきだしアニメーション ここまで */
main div#Feedback .js_fadeIn p {
    background-color: #E9F1FB;
    padding: 20px;
    position: relative;
}
main div#Feedback .js_fadeIn p::after {
    content: "";
    display: block;
    width: 21px;
    height: 21px;
    background-color: #E9F1FB;
    transform: rotate(45deg) translateX(-15px);
    position: absolute;
    left: 50%;
    bottom: -21px;
}
main div#Feedback .profile {
    display: grid;
    row-gap: 10px;
    justify-items: center;
}
main div#Feedback .profile img {
    background-color: #CCCCCC;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}
main div#Feedback .profile span {
    font-size: 12px;
    letter-spacing: 0.1em;
    text-align: center;
}

main div#About {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url("https://lh3.googleusercontent.com/d/1nhrsMN5_hj94Lf4PW5bjvcWzcSAOVTpA");
    animation: 10s linear infinite bg_animation;
}
@keyframes bg_animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -700px 700px;
    }
}

main div#About .grid {
    row-gap: 32px;
}
main div#About .item {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
}
main div#About .item h3 {
    padding-bottom: 15px;
}
main div#About .item h4 {
    padding-bottom: 30px;
}
main div#About .item p {
    text-align: start;
}

main div#CTA_bottom {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}
main div#CTA_bottom h3 {
    padding-bottom: 5px;
}
main div#CTA_bottom p {
    padding-bottom: 40px;
}
main div#CTA_bottom a.button:hover {
    transition: all 250ms ease;
    background-color: #FFF;
    border: 3px solid var(--main-color);
    color: var(--main-color);
}
main div#CTA_bottom a.button {
    display: block;
    width: 100%;
    background-color: var(--main-color);
    border: 3px solid var(--main-color);
    font-weight: bold;
    border-radius: 40px;
    font-size: 24px;
    padding: 11px 0;
}
footer {
    background-color: var(--bg-color);
    padding-top: 60px;
    padding-bottom: 20px;
}
footer h5 {
    padding-bottom: 10px;
}
footer ul {
    padding-inline-start: 10px;
}
footer li {
    padding-bottom: 3px;
}
footer .grid {
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    margin-bottom: 60px;
}


/*  */
/* 広い画面向けの CSS */
/*  */
@media (min-width: 900px) {
h1 {
    font-size: 46px;
    line-height: 1.6;
}
h2 {
    font-size: 36px;
    padding-bottom: 80px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
a, a:visited {
    font-size: 14px;
}

header {
    height: 100px;
}
header div.hamburger {
    width: 100px;
    height: 100px;
}

main div#Mainvisual {
    height: 720px;
    position: relative;
}
main div#Mainvisual .fade {
    height: 100%;
}
main div#Mainvisual .fade .img {
    width: 75%;
    height: 720px;
    right: 0;
}
main div#Mainvisual .CTA_top {
    padding: unset;
    margin-left: 10%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

main div#Reason {
    padding-top: 120px;
}
main div#Reason .slide {
    padding: 80px 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
main div#Reason .slide .js_slideIn {
    padding: 70px 0;
    justify-content: center;
}
main div#Reason .slide .js_slideIn:first-of-type {
    margin: unset;
}
main div#Reason .slide .js_slideIn:last-of-type {
    margin: unset;
    grid-column-start: 2;
    grid-row-start: 2;
}

main div#Feedback {
    padding-top: 120px;
    padding-bottom: 120px;
}
main div#Feedback .grid {
    row-gap: 60px;
}
main div#Feedback .js_fadeIn {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    column-gap: 25px;
}
main div#Feedback .js_fadeIn p {
    width: 60%;
}
main div#Feedback .js_fadeIn p::after {
    top: 50%;
    left: -16px;
    transform: rotate(45deg) translateY(-50%);
}
main div#Feedback .js_fadeIn:nth-of-type(2) {
    flex-direction: row;
}
main div#Feedback .js_fadeIn:nth-of-type(2) p::after {
    top: 50%;
    left: calc(100% - 17px);
    transform: rotate(45deg) translateY(-50%);
}

main div#About .grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 42px;
}
main div#About .item {
    padding: 60px;
}
main div#CTA_bottom {
    padding-top: 120px;
    padding-bottom: 120px;
}
main div#CTA_bottom h3 {
    font-size: 32px;
}
main div#CTA_bottom p {
    font-size: 18px;
}
main div#CTA_bottom a.button {
    font-size: 28px;
}

footer .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
}
